<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml/"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="/_layout/_header">
</head>
<div class="gtco-loader"></div>
<div id="page">
	<div class="page-inner">
	<nav th:include="/_layout/_header_nav"></nav>
		<header id="gtco-header" class="gtco-cover" role="banner"  th:style="'background-image: url('+@{/images/img_4.jpg}+')'">
			<div class="overlay"></div>
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-12 col-md-offset-0 text-left">
						<div class="row row-mt-15em">
							<div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
								<span class="intro-text-small">郑语婷-毕业设计</span>
								<h1>电子文档管理系统</h1>
							</div>
							<div class="col-md-4 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
								<div class="form-wrap">
									<div class="tab">
										<ul class="tab-menu">
											<li class="active gtco-first"><a href="#" data-tab="signup">注册</a></li>
											<li class="gtco-second"><a href="#" data-tab="login">登录</a></li>
										</ul>
										<div class="tab-content">
											<div class="tab-content-inner active" data-content="signup">
												<form action="@{/doRegister}"  th:method="post">
													<div class="row form-group">
														<div class="col-md-12">
															<label for="username">用户名</label> 
															<input type="text" class="form-control" id="username" name="username" th:value="${username}">
														</div>
													</div>
													<div class="row form-group">
														<div class="col-md-12">
															<label for="password">密码</label>
															<input type="password" class="form-control" id="password" name="password" th:value="${password}">
														</div>
													</div>
													<div class="row form-group">
														<div class="col-md-12">
															<label for="password2">密码确认</label> 
															<input type="password" class="form-control" id="password2" name="password2">
														</div>
													</div>
													<div class="row form-group">
														<div class="col-md-12">
															<input type="submit" class="btn btn-primary" value="注册">
														</div>
													</div>
												</form>
											</div>
											<div class="tab-content-inner" data-content="login">
												<form th:action="@{/login/doLogin}" method="post">
													<div class="row form-group">
														<div class="col-md-12">
															<label for="username">用户名</label> 
															<input type="text" class="form-control" id="username" name="username" th:value="${username}"/>
														</div>
													</div>
													<div class="row form-group">
														<div class="col-md-12">
															<label for="password">密码</label> 
															<input 	type="password" class="form-control" id="password" name="password" th:value="${password}"/>
														</div>
													</div>
													<div class="row form-group">
														<div class="col-md-12">
															<input type="submit" class="btn btn-primary" value="登录">
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
	</div>
</div>
</body>
</html>