<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml/"
	xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="gtco-nav" role="navigation" th:fragment="_header_nav">
	<div class="gtco-container">
		<div class="row">
			<div class="col-sm-4 col-xs-12">
				<div id="gtco-logo">
					<a th:href="@{/}">电子文档管理系统</a>
				</div>
			</div>
			<div class="col-xs-8 text-right menu-1">
				<ul>
					<li class="has-dropdown"><span><a>作者简介</a></span>
						<ul class="dropdown">
							<li>计算机系</li>
							<li>计13101班</li>
							<li>郑语婷</li>
						</ul></li>
					<li class="btn-cta"><a th:href="@{/}"><span>首页</span></a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>
</body>
</html>
