<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml/" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>文档管理系统-组织文档</title>
</head>
<body>
	<a th:href="@{'/'}" th:text="首页"></a>
	<div th:each="document:${documents}">
		<hr/>
		<a th:if="${document.dpass}"  th:href="@{'/document/download/'+${document.did}}" th:text="${document.dname}"></a><br/>
		<a th:if="${!document.dpass}" th:href="@{'/document/pass'+${document.did}}" th:text="${document.dname}"></a>
		<a th:href="@{'/document/delete/'+${document.did}}"><span th:if="${permitted}">删除</span></a>
	</div>
</body>
</html>