<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml/"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="/_layout/_header :: _header"></head>
<body>
	<nav th:replace="/_layout/_header_nav :: _header_nav"></nav>
	<div id="gtco-features" class="border-bottom" style="background:#35AFEE">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
					<h2 style="color:#ffffff">我的组织</h2>
					<p style="color:#eeeeee">查看当前用户的组织和文档信息</p>
				</div>
			</div>
			<div class="row" >
				<div class="col-md-3 col-sm-6" th:each="groupPerson,i:${session.login_user.groupPersons}" >
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon" > 
							<i class="ti-vector" ></i>
						</span>
						<h3 style="color:#ffffff !important" th:text="${groupPerson.group.gname}"></h3>
						<p th:if="${groupPerson.permitted}">
							<a style="color:#ffffff" th:href="@{'/document/add/'+${groupPerson.gpid}}" th:text="上传文档"></a> 
							<a style="color:#ffffff" th:href="@{'/groupPerson/index/'+${groupPerson.group.gid}}" th:text="成员管理"></a>
						</p>
						<p>
							<a style="color:#ffffff" th:href="@{'/document/index/'+${groupPerson.gpid}}" th:text="查看文档"></a>
							<a style="color:#ffffff" th:href="@{'/group/exit/'+${groupPerson.gpid}}" th:text="退出该组织"></a>
						</p>
						<a th:if="${groupPerson.permitted}" style="color:#eeeeee" th:id="${groupPerson.group.shareId}" th:href="'javascript:copy(\''+${groupPerson.group.shareId}+'\')'">
							邀请码
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	function copy(content){
		window.prompt("按ctrl+c复制邀请码给朋友", content);
	}
</script>
</html>
